<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated qr-code</title>
    <link rel="stylesheet" href="./style-qr.css">
    <link rel="shortcut icon" href="./qr-code-fav.png" type="image/x-icon">
</head>
<body>
    <h1>Your QR Code</h1>
    <hr>
    <img src="./generated_qrCode.png" alt="QR Code">
    <a href="./generated_qrCode.png" download="./generated_qrCode.png">Download QR Code</a>
</body>
</html>